{% load strutils %}
{% load styles %}

{% with url_name='views.kcidb.builds' id=build.iid style=build.valid|get_style %}
  <tr class="d-flex {{ style }} border-left-status table-status">
    <td class="col-1"  align="left">
      <i class="{{ style.icon_name }} text-status"></i>
    </td>
    {% include 'tables/cell_clickable.html' with size='3' text=build.id|remove_prefix:strip_id_prefix extra_attr='align="center"' %}
    {% include 'tables/cell_clickable.html' with size='1' text=build.get_architecture_display class_attr="text-right" %}
    {% include 'tables/cell_clickable.html' with size='7' text=build.debug|yesno:"debug," %}
  </tr>
{% endwith %}
