{% extends "base.html" %}
{% load serialize %}
{% load styles %}
{% load getattribute %}
{% load static %}

{% block title %}
Issue Regex
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'issue_list' %}">Issues</a></li>
    {% if issue_regex.issue %}
    <li class="breadcrumb-item"><a href="{% url 'views.issue.get' issue_regex.issue.id %}">Issue</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">Issue Regex</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
{% if issue_regex %}
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <a href="{% url 'issue.regex.get' issue_regex.id %}" class="dropdown-item">View in API</a>

      </div>
    </span>
  </div>
</div>
{% endif %}

{% if issue_regex.issue %}
<div class="card mb-2">
  <div class="card-header border-left-danger">
    <div class="row">
      <div class="font-weight-bold">
        <span class="badge badge-danger" title="{{ issue_regex.issue.kind.description }}">{{ issue_regex.issue.kind.tag }}</span>
        <a href="{% url 'views.issue.get' issue_regex.issue.id %}">{{issue_regex.issue.description}}</a>
      </div>

      <div class="col small" align="right">
        Created by:
        {% include 'user_ball.html' with user=issue_regex.created_by timestamp=issue_regex.created_at title='Created by' %}
        {% if issue_regex.was_edited %}
        Last edited by:
        {% include 'user_ball.html' with user=issue_regex.last_edited_by timestamp=issue_regex.last_edited_at title='Last edited by' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="card border-bottom-primary shadow h-100 mb-1">
  <div class="card-header">
    {% if issue_regex %}
    Edit Issue Regex
    {% else %}
    New Issue Regex
    {% endif %}
  </div>
  <div class="card-body">
    <form action="{% url 'views.issue_regex.form' %}" method="POST">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{error_message}}</div>
      {% endif %}

      {% csrf_token %}
      <div class="row">
        <div class="col-xl-12">
          <div class="form-group">
            <label class="required" for="issue_id_select">Issue</label>
            <div class="input-group">
              <input type="text"
                     id="issue_type_filter"
                     placeholder="Text to filter issues in the adjacent dropdown" />
              <select required class="form-control" id="issue_id_select" name="issue_id_select">
                <option value="">Select an option</option>
                {% for issue in issues %}
                <option value="{{ issue.id }}" {% if issue_regex.issue == issue %}selected{% endif %}>{{ issue.kind.tag  }} | {{ issue.description }}</option>
                {% endfor %}
              </select>
            </div>
            {% if perms.datawarehouse.add_issue %}
            <div align="right">
              <a href="{% url 'views.issue.new_or_edit' %}?new=true&redirect_to={{ request.get_full_path }}">Create New Issue</a>
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="issue_regex_id">ID</label>
            <input type="text" class="form-control" name="issue_regex_id" placeholder="Autogenerated" id="issue_regex_id" readonly value="{{ issue_regex.id }}">
          </div>
          <div class="form-group">
            <label class="required" for="issue_regex_text_match">Text Match</label>
            <input-regex required name="text_match" id="issue_regex_text_match" placeholder="Regex to look for in the logs" value="{{ issue_regex.text_match|default:'' }}"></input-regex>
          </div>
          <div class="form-group">
            <label class="required" for="issue_regex_file_name_match">File Name Match</label>
            <input required type="text" class="form-control" name="file_name_match" placeholder="Regex to match the file name" id="issue_regex_file_name_match" value="{{ issue_regex.file_name_match|default:'' }}">
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label class="required" for="issue_regex_test_name_match">Test Name Match</label>
              <input required type="text" class="form-control" name="test_name_match" placeholder="Regex to match the test name" id="issue_regex_test_name_match" value="{{ issue_regex.test_name_match|default:'' }}">
            </div>
            <div class="form-group col">
              <label class="required" for="issue_regex_testresult_name_match">Subtest Name Match</label>
              <input required type="text" class="form-control" name="testresult_name_match" placeholder="Regex to match the subtest name" id="issue_regex_testresult_name_match" value="{{ issue_regex.testresult_name_match|default:'' }}">
            </div>
          </div>

          <hr />

          <fieldset class="form-group">
            <legend>Build</legend>

            <div class="form-group">
              <label class="optional">Architecture Match</label>
              <div class="row ml-0 px-2 justify-content-between">
                {% for architecture in models_ArchitectureEnum %}
                  <div class="col-4 col-sm-3 col-md-1">
                    <input id="checkbox-package-name-{{ architecture.label }}" class="form-check-input" type="checkbox" name="selected_architectures[]" {% if architecture.label in selected_architectures %}checked="checked"{% endif %} value="{{ architecture.label }}">
                    <label for="checkbox-package-name-{{ architecture.label }}"  class="form-check-label">{{ architecture.label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
              <label class="optional">Package Names Match</label>
              <div class="row ml-0 px-2">
                {% for package_name in package_names %}
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <input id="checkbox-package-name-{{ package_name }}" class="form-check-input" type="checkbox" name="selected_package_names[]" {% if package_name in selected_package_names %}checked="checked"{% endif %} value="{{ package_name }}">
                    <label for="checkbox-package-name-{{ package_name }}"  class="form-check-label">{{ package_name }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </fieldset>

          <hr />

          <fieldset class="form-group">
            <legend>Checkout</legend>
            {% comment %} Only existing KPET trees should be visible {% endcomment %}
            {% if issue_regex and issue_regex.kpet_tree_name_match %}
            <!-- KPET tree is technically a build attribute, but semantically is belongs to checkout -->
            <div class="form-group">
              <label class="optional" for="issue_regex_kpet_tree_name_match">KPET Tree Name Match</label>
              <div class="input-group">
                <input disabled type="text" class="form-control" name="kpet_tree_name_match" placeholder="Regex to match the kernel tree name" id="issue_regex_kpet_tree_name_match" value="{{ issue_regex.kpet_tree_name_match|default:'' }}">
                <div class="input-group-append">
                  <button class="btn btn-outline-danger" type="button" onclick="document.getElementById('issue_regex_kpet_tree_name_match').value = ''">Clear</button>
                </div>
              </div>
              <small class="form-text text-muted">We are phasing out the "KPET Tree Name Match" field in favor of "Tree Match". <a href="https://gitlab.com/groups/cki-project/-/epics/165">Read more 🔗</a></small>

            </div>
            {% endif %}

            <div class="form-group">
              <label class="required" for="issue_regex_tree_match">Tree Match</label>
              <input required type="text" class="form-control" name="tree_match" placeholder="Regex to match the kernel tree" id="issue_regex_tree_match" value="{{ issue_regex.tree_match|default:'' }}">
            </div>
          </fieldset>
          <input type="hidden" id="action" name="action" value="{% if issue_regex %}edit{% else %}new{% endif %}"/>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col" align="left">
          {% if issue_regex and perms.datawarehouse.delete_issueregex %}
          <div id="delete_issue_regex">
            <button name="action" value="delete" class="btn btn-danger" onclick="return confirmRemove('issue regex');">Delete</button>
          </div>
          {% endif %}
        </div>
        <div class="col" align="right">
          {% if perms.datawarehouse.change_issueregex or perms.datawarehouse.add_issueregex %}
          <button type="submit" class="btn btn-primary">Save</button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block script %}
{% include 'components/input_regex.html'  %}
<script src="{% static 'js/custom.js' %}"></script>
<script>
  document.getElementById('issue_type_filter').addEventListener('input', function(e) {
      filterDropdown(e.target.value, 'issue_id_select');
  });

  setSelectedValue('issue_id_select', findGetParameter('issue_id'));

</script>
{% endblock %}
