{% extends "admin/change_list.html" %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'admin:update_package_name' %}" class="btn btn-high btn-success">Update Package Names</a>
</li>
{% endblock %}
