{% extends "admin/base_site.html" %}
{% comment %} Render "PackageNameUpdateForm" {% endcomment %}
{% block content %}
<h1>Update Package Name</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Next">
</form>
{% endblock %}
