{% comment %}
Render icons with counters to represent the status of the builds within the given KCIDBCheckout.

Args:
  object (KCIDBCheckout): checkout with "aggregated()" annotations
{% endcomment %}
{% load styles %}

{% if object %}
  {% comment %} Running builds {% endcomment %}
  {% if object.stats_builds_running_count %}
    {% with style="Running"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_builds_running_count }}
      <i class="{{ style.icon_name }}" title="Running"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% comment %} Successful builds {% endcomment %}
  {% if object.stats_builds_pass_count %}
    {% with style="P"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_builds_pass_count }}
      <i class="{{ style.icon_name }}" title="Passed"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% comment %} Failed builds {% endcomment %}
  {% if object.stats_builds_fail_count %}
    {% with style="F"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_builds_fail_count }}
      <i class="{{ style.icon_name }}" title="Failed"></i>
    </span>
    {% endwith %}
  {% endif %}
{% endif %}
