{% load styles %}

{% if object %}
  {% if object.stats_tests_running_count %}
    {% with style="Running"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_tests_running_count }}
      <i class="{{ style.icon_name }}" title="Running"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_tests_act_fail_count %}
    {% with style="F"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_tests_act_fail_count }}
      <i class="{{ style.icon_name }}" title="Failed"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_tests_miss_count %}
    {% with style="M"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_tests_miss_count }}
      <i class="{{ style.icon_name }}" title="Missed"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_tests_act_error_count %}
    {% with style="E"|get_style %}
    <span class="{{ style }} text-status text-nowrap">
      {{ object.stats_tests_act_error_count }}
      <i class="{{ style.icon_name }}" title="Error"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_tests_triaged_count %}
    {% with style="S"|get_style %}
    <span class="{{ style }} text-status text-nowrap>">
      {{ object.stats_tests_triaged_count }}
      <i class="fas fa-bug" title="Triaged"></i>
    </span>
    {% endwith %}
  {% endif %}

  {% if object.stats_tests_pass_count and not object.stats_tests_running_count %}
    {% if not object.stats_tests_actionable and not object.stats_tests_triaged_count %}
      {% with style="P"|get_style %}
      <span class="{{ style }} text-status">
        <i class="{{ style.icon_name }}" title="Passed"></i>
      </span>
      {% endwith %}
    {% endif %}
  {% endif %}
{% endif %}
