{% comment %}
Render a modal to associate a rerun

Args:
  item=KCIDBCheckout|KCIDBBuild|KCIDBTest
  rerun_kcidb_type=checkout|build|test
{% endcomment %}
{% load static %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="modal fade" id="rerunModal" tabindex="-1" role="dialog" aria-labelledby="rerunModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rerunModalLabel">Associate Rerun</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action={% url 'views.kcidb.rerun' %} method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="rerun_target_id_text">ID of {{ rerun_kcidb_type }} that reruns this {{ rerun_kcidb_type }}</label>
            <input required type="text" class="form-control"
                   name="rerun_target_id"
                   id="rerun_target_id_text"
                   {% if item.rerun %}value="{{ item.rerun }}"{% endif %}
                   placeholder="{{ rerun_kcidb_type }} ID" />
            <div class="invalid-feedback">Please specify a valid {{ rerun_kcidb_type }}</div>
          </div>
          <input type="hidden" id="rerun_kcidb_type" name="rerun_kcidb_type" value="{{ rerun_kcidb_type }}">
          <input type="hidden" id="rerun_source_id" name="rerun_source_id" value="{{ item.id }}">
          <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
          <div class="modal-footer">
            {% if item.rerun %}<button type="submit" name="rerun_action" value="remove" class="btn btn-danger">Unlink</button>{% endif %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" name="rerun_action" value="add" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/custom.js' %}"></script>
