{% load avatar %}
{% load static %}
{% if user %}
<a href="{% url 'account.user.get' user.username %}"><img class="img-profile rounded-circle" src="{{ user.email|avatar_url:24 }}" width="24" height="24" title="{{ title }} @{{ user.username }} on {{ timestamp }}"></a>
{% else %}
<a><img class="img-profile rounded-circle" src="{% static DEFAULT_USER_IMAGE %}" width="24" height="24" title="{{ title }} (unknown)"></a>
{% endif %}
