{% extends "base.html" %}
{% comment %}
Render detail page about KCIDBCheckout

Args:
  checkout (KCIDBCheckout): checkout with annotations from custom queryset
{% endcomment %}
{% load strutils %}
{% load styles %}
{% load getattribute %}

{% block title %}
Checkout {{ checkout.id }}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Checkout {{ checkout.id }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% include 'modal_new_issue_occurrence.html' with item=checkout strip_id_prefix=checkout.id issues=issues checkouts_failed=checkouts_failed builds_failed=builds_failed tests_failed=tests_failed %}
{% include 'modal_rerun.html' with item=checkout rerun_kcidb_type="checkout" %}

{% if checkout.related_merge_request %}
{% include 'modal_checkouts_same_merge_request.html' with checkouts=sibling_checkouts %}
{% endif %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.checkouts.get' checkout.iid %}" class="dropdown-item">View in API</a>
        <a href="{% url 'kcidb.checkouts.all' checkout.iid %}" class="dropdown-item">View all in API</a>
        {% if perms.datawarehouse.change_kcidbcheckout or perms.datawarehouse.change_kcidbbuild or perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#rerunModal" href="#">Associate rerun</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<!-- Row with summary cards -->
<div class="row">
  <!-- Display card with summary about checkout -->
  <div class="col-xl-4 col-md-4 mb-2">
    {% with obj=checkout.valid style=checkout.valid|get_style %}
    <div class="card {{ style }} border-left-status shadow h-100 py-0">
      <div class="card-body d-flex flex-wrap">
        <div class="flex-grow-1">
          <div class="text-xs font-weight-bold text-uppercase mb-1">Checkout Status</div>
          <div class="h5 mb-0 font-weight-bold text-status">{{ obj|yesno:'Valid,Not Valid' }}</div>
        </div>
        <div class="h2 mb-0 ml-auto mt-auto">
          <i class="{{ style.icon_name }} text-status"></i>
          {% if checkout.all_sources_targeted %}
          <i class="fas fa-bullseye text-success" title="All sources have targeted tests"></i>
          {% endif %}
        </div>
      </div>
    </div>
    {% endwith %}
  </div>

  <!-- Display card with summary about builds -->
  {% if checkout.stats_builds_run_count %}
  <div class="col-xl-4 col-md-4 mb-2">
    {% with obj=checkout.stats_builds_status style=checkout.stats_builds_status|get_style %}
    <div class="card {{ style }} border-left-status shadow h-100 py-0">
      <div class="card-body d-flex flex-wrap">
        <div class="flex-grow-1">
          <div class="text-xs font-weight-bold text-uppercase mb-1">Build Status</div>
          <div class="h5 mb-0 font-weight-bold text-status">{{ obj|get_status_text }}</div>
        </div>
        <div class="h2 mb-0 ml-auto mt-auto">{% include 'icons_build_status.html' with object=checkout %}</div>
      </div>
    </div>
    {% endwith %}
  </div>
  {% endif %}

  <!-- Display card with summary about tests -->
  {% if checkout.stats_tests_run_count %}
  <div class="col-xl-4 col-md-4 mb-2">
    {% with obj=checkout.stats_tests_status style=checkout.stats_tests_status|get_style:checkout.stats_tests_actionable %}
    <div class="card {{ style }} border-left-status shadow h-100 py-0">
      <div class="card-body d-flex flex-wrap">
        <div class="flex-grow-1">
          <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
          <div class="h5 mb-0 font-weight-bold text-status">
            {{ obj|get_status_text }}
            {% if checkout.stats_builds_broken_boot_tests_count > 0 %}
            <span class="text-secondary"> to boot {{ checkout.stats_builds_broken_boot_tests_count }} builds</span>
            {% elif not checkout.stats_tests_actionable and obj in models_KCIDBTest_UNSUCCESSFUL_STATUSES %}
            <span class="text-secondary"> all waived/triaged</span>
            {% endif %}
          </div>
        </div>
        <div class="h2 mb-0 ml-auto mt-auto">
          {% include 'icons_test_status.html' with object=checkout%}
        </div>
      </div>
    </div>
    {% endwith %}
  </div>
  {% endif %}

</div>

{% include 'web/kcidb/rerun_row.html' with item=checkout rerun_kcidb_type="checkout" %}

<!-- Display card with detailed info about checkout -->
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header {{ checkout.valid|get_style }} border-left-status">
        <div class="row">
          <div class="col align-self-center">
            <label class="mb-0">Checkout ID: </label>
            {{ checkout.id }}
          </div>
          <div class="col" align="right">
            {% if checkout.related_merge_request %}
            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#siblingCheckouts" href="#">Show Checkouts from the same MR</a>
            {% include 'link_gitlab_mergerequest.html' %}
            {% endif %}
            {% for component in checkout.provenance.all %}
            {% include 'link_provenance_component.html' with component=component %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>Tree:</label> {{ checkout.tree|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Repository:</label>
            {{ checkout.git_repository_url|default:'' }}
            @
            {{ checkout.git_repository_branch|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Commit Hash:</label> {{ checkout.git_commit_hash|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Commit Name:</label> {{ checkout.git_commit_name|default:'' }}
            <br/>
          </div>

          {% if checkout.patchset_hash %}
          <div class="col-6">
            <label>Patchset Hash:</label> {{ checkout.patchset_hash|default:'' }}
            <br/>
          </div>
          {% endif %}

          {% if checkout.source_package_name and checkout.source_package_version and checkout.source_package_release %}
          <div class="col-6">
            <label title="Name-Version-Release">NVR:</label> {{ checkout.nvr|default:'' }}
            <br/>
          </div>
          {% elif checkout.kernel_version %}
          <div class="col-6">
            <label>Kernel Version:</label> {{ checkout.kernel_version|default:'' }}
            <br/>
          </div>
          {% endif %}

          <div class="col-6">
            <i class="fas fa-clock"></i>
            <label>Start Time:</label> {{ checkout.start_time|default:'' }}
            <br/>
          </div>

          {% if checkout.retrigger %}
          <div class="col-6">
            <label title="This checkout came from a retriggered pipeline">Retrigger:</label> <i class="fas fa-check"></i>
            <br/>
          </div>
          {% endif %}

          {% if checkout.log %}
          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ checkout.log.url }}">{{ checkout.log.url }}</a>
            <br/>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-footer">
        <div class="row text-muted">
          <div class="col" align="center">Running: {{ checkout.stats_tests_running_count }}</div>
          <div class="col" align="center">Skipped: {{ checkout.stats_tests_skip_count }}</div>
          <div class="col" align="center">Passed: {{ checkout.stats_tests_pass_count }}</div>
          <div class="col" align="center">Missed: {{ checkout.stats_tests_miss_count }}</div>
          <div class="col" align="center">Errored: {{ checkout.stats_tests_error_count }}</div>
          <div class="col" align="center">Failed: {{ checkout.stats_tests_fail_count }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if checkout.log_excerpt %}
{% include 'card_log_excerpt.html' with obj=checkout %}
{% endif %}

{% for report in checkout.reports.all %}
  {% include 'card_report.html' with report=report %}
{% endfor %}

{% if checkout.has_objects_missing_triage %}
{% include 'card_kcidb_untriaged.html' with object=checkout strip_id_prefix=checkout.id %}
{% endif %}

<!-- Display all checkout issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' with strip_id_prefix=checkout.id %}
{% endfor %}

<!-- Display list of patches -->
{% if checkout.patches.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Patches
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for patch in checkout.patches.all %}
                  <tr class="d-flex">
                    {% include 'tables/cell_clickable.html' with size='6' text=patch.subject url=patch.url %}
                    {% include 'tables/cell_clickable.html' with size='6' text=patch.url url=patch.url %}
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if builds %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Builds
      </div>
      <div class="card-body">
        {% include 'tables/table_kcidb_builds.html' with hide_checkout_columns=True strip_id_prefix=checkout.id %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include 'card_actions.html' with object=checkout %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var hash = window.location.hash;
  if (hash == '#issueoccurrence') {
    $('#issueOccurrenceModal').modal('show');
  }
  else if (hash == '#rerunModal') {
    $('#rerunModal').modal('show');
  }
  else if (hash == '#rerunModalFailed') {
    $('#rerun_target_id_text').addClass('is-invalid');
    $('#rerunModal').modal('show')
  }
  else if (hash.startsWith('#issue-')) {
    var highlight_card = document.getElementById(hash.substring(1));
    highlight_card.classList.add('shadow-primary', 'border-primary');
  }
</script>

<script>
  $(".rotate").click(function(){
    $(this).toggleClass("down")  ;
  })
</script>
{% endblock %}
