<!-- Display card with rerun info -->
{% with supersedes=item.supersedes.all %}
{% if item.rerun or supersedes %}
<div class="row mb-2">

  {% if supersedes %}
  <div class="col">
    <div class="card status-info border-left-status py-0">
      <div class="card-body d-flex">
        <div class="h2 m-auto pr-4">
          <i class="fas fa-file-import text-status"></i>
        </div>
        <div class="flex-grow-1">
          <div class="text-xs font-weight-bold text-uppercase mb-1">This {{ rerun_kcidb_type | title }} supersedes prior {{ rerun_kcidb_type }}</div>
          {% for s in supersedes %}
          <a class="card-link badge badge-info" href="{% url 'views.kcidb.'|add:rerun_kcidb_type|add:'s' %}/{{ s }}">{{ s }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if item.rerun %}
  <div class="col">
    <div class="card status-warning border-left-status py-0">
      <div class="card-body d-flex">
        <div class="h2 m-auto pr-4">
          <i class="fas fa-redo text-status"></i>
        </div>
        <div class="flex-grow-1">
          <div class="text-xs font-weight-bold text-uppercase mb-1">This {{ rerun_kcidb_type | title }} has been rerun</div>
          <a class="card-link badge badge-warning" href="{% url 'views.kcidb.'|add:rerun_kcidb_type|add:'s' %}/{{ item.rerun }}">{{item.rerun}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endif %}
{% endwith %}
